/*!
 * Start Bootstrap - Resume v5.0.7 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */

/* RGB */
.onyx {
  color: rgba(51, 55, 69, 1);
}
.fuchsia { 
 color: rgba(230, 52, 98, 1);
}
.orange {
 color: rgba(254, 95, 85, 1);
}
.celery {
 color: rgba(181, 218, 189, 1);
}
.mint {
 color: rgba(188, 231, 132, 1);
}
.lazuli {
  color: rgba(51, 102, 153, 1);
}
.eucalyptus {
  color: rgba(66, 209, 177, 1);
}
.gray {
  color: rgba(123, 114, 99, 1);
}
.plum {
  color: rgba(146, 55, 77, 1);
}
html, body {
  height:100%;
}
body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  padding-top: 54px;
  color: #868e96;
  position: relative;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  text-transform: uppercase;
}
h1, h2 {
  color: rgba(188, 231, 132, 1);
}
h3, h4 {
  color: rgba(230, 52, 98, 1);
}
h5, h6 {
  color: rgba(51, 102, 153, 1);
}
h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.section-title {
  background-color: rgba(188, 231, 132, 1);
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: rgba(51, 102, 153, 1);
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: rgba(230, 52, 98, 1);
}

.dev-icons {
  font-size: 2rem;
  color: rgba(51, 102, 153, 1);
}

.dev-icons .list-inline-item i:hover {
  color: rgba(230, 52, 98, 1);
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: rgba(230, 52, 98, 1);
}

ul.navbar-subnav {
  font-size: 0.5em;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: block;
}

li.nav-item.sub-nav {
  display: flex !important;
  padding-left: 3em;
}


@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.resume-item {
  font-size: 0.7em;
  padding-top: 4em;
}

.resume-title {
  border-bottom: rgba(230, 52, 98, 1) solid 2px;
}

.resume-content ul.skill-list {
  margin-left: -40px;
  list-style: none;
}

.resume-content ul>ul>li::before {
  list-style-position: outside;
  content: '> ';
}
section#about {
  padding-top: 3em !important;
}
h2.mb-0.about {
  background: none;
  color: rgba(254, 95, 85, 1);
}
h2.mb-0 {
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: white;
  background-size: auto;
  text-shadow: 2px 2px 0px #fff;
}
h2.mb-0.experience {
  background-image: url(/img/experience.jpg);
}
h2.mb-0.interests {
  background-image: url(/img/interests.jpg);
}
h2.mb-0.education {
  background-image: url(/img/education.jpg);
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
  
  #about {
    background-image: url(/img/about.jpg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100%;
    background-position: top;
    background-color: rgba(0,0,0,0);
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: rgba(51, 55, 69, 1) !important;
}

.text-primary {
  color: rgba(51, 55, 69, 1) !important;
}

a {
  color: rgba(51, 55, 69, 1);
}

a:hover, a:focus, a:active {
  color: #824027;
}
